@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css or App.css */

/* Hide the scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* For IE and Edge */
    scrollbar-width: none;     /* For Firefox */
  }
  